.propricing-wrap .pp-plan {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  margin-top: 1rem;
}
.propricing-wrap .pp-plan .pricing-action {
  margin-top: 2rem;
}
.propricing-wrap .pp-plan .pp-header {
  text-align: center;
}
.propricing-wrap .pp-plan .pp-header .pp-title {
  font-size: 13px;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: 300;
}
.propricing-wrap .pp-plan .pp-header .pp-title .label {
  display: none;
}
.propricing-wrap .pp-plan .pp-header .pp-price {
  padding: 40px;
  font-weight: 600;
}
.propricing-wrap .pp-plan .pp-header .pp-price .price-pre {
  vertical-align: top;
  font-size: 1.2em;
}
.propricing-wrap .pp-plan .pp-header .pp-price .price {
  font-size: 70px;
  line-height: 70px;
}
.propricing-wrap .pp-plan .pp-header .pp-price .price-pre,
.propricing-wrap .pp-plan .pp-header .pp-price .price-post,
.propricing-wrap .pp-plan .pp-header .pp-price .price-sub {
  opacity: .7;
}
.propricing-wrap .pp-plan .pp-header .pp-price .price-sub {
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  line-height: 1.5em;
}
.propricing-wrap .pp-plan.most-popular {
  margin-top: 0;
}
.propricing-wrap .pp-plan.most-popular .pp-header .pp-title {
  font-size: 16px;
  padding: 20px 0 15px;
}
.propricing-wrap .pp-plan.most-popular .pp-header .pp-title .mp {
  font-size: 12px;
  opacity: .6;
}
.propricing-wrap .pp-plan.most-popular .pp-header .pp-title .label {
  display: block;
  position: absolute;
  top: -9px;
  left: 50%;
  font-size: 10px;
  padding: 3px 13px;
  color: #777;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.propricing-wrap .pp-plan.most-popular .pp-attributes ul .pp-link {
  padding: 20px 0;
}
/** Attribute List */
.pp-attributes ul {
  margin: 0;
}
.pp-attributes ul li {
  padding: 10px;
}
.pp-attributes ul li.emphasis {
  font-size: 120%;
  font-weight: 600;
}
/** Schemes */
/** Default */
.pp-title,
.pp-attributes ul li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03);
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
/** Dark Scheme */
.pl-scheme-dark .pp-title,
.pl-scheme-dark .pp-attributes ul li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
