@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400, 500,600,700);
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Minion W01 Regular', serif;
  font-weight: 400;
  line-height: 1.2em;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.8em;
}
a {
  color: green;
}
a p {
  background: red;
}
