/** Basic Configuration */
.pl-sharebar-pad {
  line-height: 20px;
}
.pl-sharebar-pad .txt-wrap {
  margin: 8px 0 0;
  opacity: .5;
}
.pl-sharebar-pad .txt {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5em;
  max-width: 350px;
}
.meta-share {
  padding-top: 5px;
}
.meta-share iframe,
.meta-share object {
  width: auto;
}
.pin_wrap {
  display: inline-block;
}
/** Alignment */
.section-sharebar {
  text-align: center;
}
.section-sharebar .pl-alignment-right {
  text-align: right;
}
.section-sharebar .pl-alignment-left {
  text-align: left;
}
