.section-simple_nav .pl-section-pad {
  padding: 15px 0;
}
.simplenav li a {
  font-size: 12px;
  color: inherit;
  display: inline-block;
  margin: 0 5px;
  padding: 2px 4px;
}
.simplenav li a:hover {
  opacity: .7;
}
/** Alignment */
.section-simple_nav {
  text-align: center;
}
.section-simple_nav .pl-alignment-left {
  text-align: left;
}
.section-simple_nav .pl-alignment-right {
  text-align: right;
}
