/** Basic Formatting */
.socialinks-wrap {
  /** Responsive */
}
.socialinks-wrap .sl-text {
  line-height: 26px;
  font-size: 12px;
}
.socialinks-wrap .sl-text .sl-copy {
  padding-right: 10px;
}
.socialinks-wrap .sl-text .sl-nav li a {
  padding: 0 10px;
}
@media (max-width: 786px) {
  .socialinks-wrap .sl-text,
  .socialinks-wrap .sl-links {
    float: none;
    text-align: center;
    margin: 10px 0;
  }
  .socialinks-wrap .pl-nav {
    display: block;
  }
}
/** Alignments */
.section-socialinks {
  /** Default - Left Aligned */
  /** Right Aligned */
  /** Center Aligned */
}
.section-socialinks .sl-text {
  float: left;
}
.section-socialinks .sl-links {
  float: right;
}
.section-socialinks .pl-alignment-right .sl-text {
  float: right;
}
.section-socialinks .pl-alignment-right .sl-links {
  float: left;
}
.section-socialinks .pl-alignment-center .sl-text,
.section-socialinks .pl-alignment-center .sl-links {
  float: none;
  text-align: center;
  margin: 10px 0;
}
