.section-highlight {
  text-align: center;
}
.section-highlight .highlight-area {
  padding: 10px 0;
  margin: 0 auto;
}
.section-highlight .highlight-head {
  font-size: 30px;
  margin: 0;
}
.section-highlight .highlight-subhead {
  margin-top: 5px;
  font-size: 18px;
  opacity: .75;
}
.section-highlight .highlight-subhead strong,
.section-highlight .highlight-subhead a {
  opacity: 1;
}
.section-highlight .hl-image-bottom {
  margin: 1rem 0 0 0;
}
.section-highlight .hl-image-top {
  margin: 0 0 1rem 0;
}
.section-highlight .highlight-splash img {
  max-width: 100%;
}
