.pl-hero-wrap .pl-hero .pl-hero-pad {
  padding: 20%;
}
.pl-hero-wrap .pl-hero h1 {
  margin-top: -10px;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
  margin: 0;
}
.pl-hero-wrap .pl-hero h1 small {
  display: block;
}
.pl-hero-wrap .pl-hero p {
  margin: 5px 0 15px;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5em;
}
.pl-hero-wrap .pl-hero-image {
  margin-bottom: 0;
}
.pl-hero-wrap .pl-hero-image img {
  max-width: 100%;
}
.pl-hero-col {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .hero_image,
  .pl-hero h1,
  .pl-hero p {
    text-align: center;
  }
  .pl-hero.span6 .btn {
    display: block;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .pl-hero-wrap {
    padding: 20px;
  }
}
