.section-pl-resources .pl-section-pad {
  padding: 0;
}
.pl-resources-mast {
  padding: 7vw;
  background: #222;
  color: #eee;
}
.pl-resources-mast h1,
.pl-resources-mast h4 {
  margin: 0;
}
.pl-resources-mast h4 {
  opacity: .5;
}
.pl-resources-content .resources-entry,
.pl-resources-content .resources-sidebar {
  padding: 5vw 2vw;
}
.pl-resources-content .resources-sidebar {
  border-left: 1px solid #eee;
}
.pl-resources-content .resources-sidebar .pad {
  padding: 1em;
}
.pl-resources-content .resources-sidebar ul {
  padding-left: 1em;
}
.pl-resources-content .resources-sidebar lh {
  list-style: none;
  font-weight: 600;
}
.pl-resources-content .resources-sidebar li {
  list-style: circle;
}
.pl-resources-content .resources-sidebar li a {
  color: inherit;
}
.pl-resources-search {
  margin-top: 1rem;
}
.pl-resources-search input {
  width: 100%;
  background: transparent;
  border: 1px solid #666;
  font-size: 1.3em;
  padding: .5em 1em;
}
.pl-resources-search input:focus {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #999;
  outline: none;
}
.pl-resources-search .search-button {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  width: 2em;
  font-size: 1.6em;
  opacity: .3;
  text-align: center;
}
.pl-resources-search .search-button:hover {
  opacity: .5;
}
.pl-resources-search .search-button:focus,
.pl-resources-search .search-button:active {
  outline: none;
}
.resource-chapter {
  margin-bottom: 2em;
}
.resource-chapter .chapter-icon {
  font-size: 5em;
  line-height: 1;
  opacity: 1;
  width: 150px;
  text-align: right;
}
.resource-chapter .chapter-items {
  padding: .5em;
}
.resource-chapter .chapter-items h3 {
  margin: 0;
  font-weight: 500;
}
.resource-chapter .chapter-items .sub {
  opacity: .5;
}
.resource-chapter .chapter-items ul {
  padding: 0;
  margin: 1em 0;
  list-style-type: none;
}
.resource-chapter .chapter-items ul > li {
  margin-bottom: 1em;
}
.resource-chapter .chapter-items .chapter-list-item {
  list-style-type: none;
}
.resource-chapter .chapter-items .chapter-list-item a {
  display: block;
  border: 1px solid #ddd;
  padding: .8em 1.5em;
  line-height: 1;
}
.resource-chapter .chapter-items .chapter-list-item a:hover {
  text-decoration: none;
  border: 1px solid #ccc;
}
