.section-mediabox.no-pad .pl-section-pad {
  padding: 0;
}
.section-mediabox .mediabox-wrap {
  min-height: 50px;
  background-size: cover;
}
.section-mediabox img,
.section-mediabox iframe,
.section-mediabox object,
.section-mediabox embed {
  max-width: 100%;
  max-height: 100%;
}
