.masonic-header-content-pad {
  padding: 15px;
}
.masonic-header-content-pad .masonic-title {
  font-size: 20px;
  float: left;
}
.masonic-header-content-pad .masonic-nav {
  float: right;
  max-width: 85%;
  margin-top: 6px;
}
.masonic-header-content-pad .masonic-nav lh {
  font-weight: 600;
}
.masonic-header-content-pad .masonic-nav li {
  margin-left: 18px;
  font-size: 85%;
}
