.pl-sc-featured-grid .image-container {
  position: relative;
  border: 1px solid #eee;
  padding: 1px;
  border-radius: 3px;
  margin-bottom: 30px;
}
.pl-sc-featured-grid .image-container img {
  border-radius: 3px;
  padding: 1px;
}
.pl-sc-featured-grid .image-container .showcase-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
}
.pl-sc-featured-grid .image-container .showcase-overlay .inner {
  text-align: center;
  padding: 0 30px;
}
.pl-sc-featured-grid .image-container:hover .showcase-overlay {
  opacity: 1;
}
