.docker-wrapper {
  position: relative;
}
.docker-wrapper .docker-title {
  margin: 0 0 15px;
}
.docker-wrapper .sticky-wrapper {
  position: absolute;
}
.docker-wrapper .docker-sidebar {
  width: 280px;
  position: absolute;
}
.docker-wrapper .docker-sidebar .docker-mobile-drop {
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  display: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.docker-wrapper .docker-sidebar ul lh {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0px;
}
.docker-wrapper .docker-sidebar.sticky {
  float: none;
  position: fixed;
  top: 20px;
  z-index: 6;
  left: auto;
}
.docker-wrapper .docker-content {
  margin-left: 320px;
  min-height: 400px;
}
@media (max-width: 768px) {
  .docker-wrapper .sticky-wrapper,
  .docker-wrapper .docker-sidebar {
    width: auto;
    position: static !important;
    height: auto !important;
  }
  .docker-wrapper .docker-sidebar .docker-mobile-drop {
    display: block;
  }
  .docker-wrapper .docker-sidebar ul {
    display: none;
  }
  .docker-wrapper .docker-sidebar ul.show-me {
    display: block;
  }
  .docker-wrapper .docker-content {
    margin-left: 20px;
  }
}
.section-docker.pl-area .docker-wrapper {
  padding: 0 15px;
  box-sizing: border-box;
}
